{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Login</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
<form method="post" action="{% url 'kahua_users:login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button name="submit" class="btn btn-primary">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}

